/* Syntax Highlighting - One Dark Theme */

pre[class*="language-"] {
  background: #282c34;
  color: #abb2bf;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'JetBrains Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  hyphens: none;
  padding: 1.5rem;
  margin: 1.5rem 0;
  overflow: auto;
  border-radius: 8px;
}

/* Selection */
code[class*="language-"]::-moz-selection,
pre[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  background: #3e4451;
}

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: #3e4451;
}

/* Tokens */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
  font-style: italic;
}

.token.punctuation {
  color: #abb2bf;
}

.token.tag {
  color: #e06c75;
}

.token.attr-name {
  color: #d19a66;
}

.token.attr-value {
  color: #98c379;
}

.token.string {
  color: #98c379;
}

.token.number {
  color: #d19a66;
}

.token.boolean {
  color: #d19a66;
}

.token.function {
  color: #61afef;
}

.token.keyword {
  color: #c678dd;
}

.token.operator {
  color: #56b6c2;
}

.token.class-name {
  color: #e5c07b;
}

.token.constant {
  color: #d19a66;
}

.token.variable {
  color: #e06c75;
}

.token.property {
  color: #e06c75;
}

.token.builtin {
  color: #e5c07b;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  background: #282c34;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.875em;
}
